Repository DesignSync-Int/chatterFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"],
  "package.json": ["npm audit --audit-level=moderate"]
}

feat: add emoji picker functionality to chat
  src/components/chat/EmojiPicker.tsx
  src/pages/chat/components/chat-tab/ChatTab.tsx
Due: eslint --fix, prettier --write

fix: reduce friend request modal display time
  src/components/friend-requests/AddFriendDialog.tsx
  src/pages/home/components/AddFriendModal.tsx
Due: eslint --fix, prettier --write

fix: hide resend verification email link after email verification
  src/components/auth/EmailVerificationReminder.tsx
  src/pages/auth/EmailVerification.tsx
Due: eslint --fix, prettier --write

style: move buy icon 30px lower from top
  src/components/ui/FloatingBuyButton.tsx
Due: eslint --fix, prettier --write

breaking fix
  src/components/ui/FloatingBuyButton.tsx
Due: eslint --fix, prettier --write

fix: update e2e tests for authentication and responsive ui
  cypress/e2e/auth-integration-broken.cy.ts
  cypress/e2e/auth-integration.cy.ts
  cypress/e2e/responsive-userlist.cy.ts
  cypress/screenshots/email-verification.cy.ts/Email Verification System -- Email Verification Page -- should handle successful email verification (failed).png
  cypress/screenshots/email-verification.cy.ts/Email Verification System -- Email Verification Page -- should handle verification failure (failed).png
  cypress/screenshots/error-handling-edge-cases.cy.ts/Error Handling and Edge Cases -- Authentication Edge Cases -- should handle concurrent login sessions (failed).png
  cypress/screenshots/error-handling-edge-cases.cy.ts/Error Handling and Edge Cases -- Authentication Edge Cases -- should handle expired tokens (failed).png
  cypress/screenshots/error-handling-edge-cases.cy.ts/Error Handling and Edge Cases -- Authentication Edge Cases -- should handle invalid tokens (failed).png
  cypress/screenshots/error-handling-edge-cases.cy.ts/Error Handling and Edge Cases -- Network Error Handling -- should handle server downtime gracefully (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Authenticated Home Page -- should display authenticated home page (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Authenticated Home Page -- should display user interface elements (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Authenticated Home Page -- should handle navigation (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Authenticated Home Page -- should handle user list display (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Email Verification Reminder -- should handle unverified users (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Email Verification Reminder -- should not show email verification reminder for verified users (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Error Handling -- should handle API errors gracefully (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Error Handling -- should handle users list loading error (failed).png
  cypress/screenshots/home.cy.ts/Home Page & User List -- Login Required Access -- should redirect to login when accessing home without authentication (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Account Management -- should handle email verification status (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Account Management -- should handle password change scenarios (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Profile Information Management -- should display user profile information (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Profile Information Management -- should handle profile update scenarios (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Profile Picture Management -- should handle profile picture display (failed).png
  cypress/screenshots/profile-management.cy.ts/Profile Management System -- Security and Privacy -- should handle authentication token management (failed).png
  cypress/screenshots/real-time-messaging.cy.ts/Real-time Messaging System -- Chat Window Management -- should handle chat window functionality (failed).png
  cypress/screenshots/real-time-messaging.cy.ts/Real-time Messaging System -- Chat Window Management -- should handle multiple chat windows (failed).png
  cypress/screenshots/real-time-messaging.cy.ts/Real-time Messaging System -- Message UI Interactions -- should handle typing indicators (failed).png
  cypress/screenshots/real-time-messaging.cy.ts/Real-time Messaging System -- Socket Connection Simulation -- should handle real-time message simulation (failed).png
Due: eslint --fix, prettier --write

Fix minor formatting and dependency updates
  package-lock.json
  src/store/auth.store.ts
Due: eslint --fix, prettier --write

�� Fix Rollup Linux binary deployment issue
  .npmrc
  scripts/build-production.sh
Due: none

✅ Complete Rollup deployment fix
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

✅ Complete Rollup deployment fix
  package-lock.json
  package.json
  render.yaml
  scripts/build-production.sh
Due: prettier --write, npm audit --audit-level=moderate

fix: migrate from tailwind v4 to v3 for linux deployment
  package-lock.json
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

fix: configure production backend url for render deployment
  .env
  .env.production
  render.yaml
Due: none

login warning message
  src/pages/login/Login.tsx
Due: eslint --fix, prettier --write
